[submodule "poco"]
	path = poco
	url = https://github.com/pocoproject/poco.git
[submodule "theron"]
	path = theron
	url = https://github.com/guruofquality/theron-1.git
[submodule "sigar"]
	path = sigar
	url = http://github.com/guruofquality/sigar.git
[submodule "pothos-library"]
	path = pothos-library
	url = https://github.com/pothosware/pothos-library.git
[submodule "pothos-blocks"]
	path = pothos-blocks
	url = https://github.com/pothosware/pothos-blocks.git
[submodule "pothos-python"]
	path = pothos-python
	url = https://github.com/pothosware/pothos-python.git
[submodule "pothos-java"]
	path = pothos-java
	url = https://github.com/pothosware/pothos-java.git
[submodule "pothos-gui"]
	path = pothos-gui
	url = https://github.com/pothosware/pothos-gui.git
[submodule "pothos-opencl"]
	path = pothos-opencl
	url = https://github.com/pothosware/pothos-opencl.git
[submodule "pothos-serialization"]
	path = pothos-serialization
	url = https://github.com/pothosware/pothos-serialization.git
[submodule "pothos-widgets"]
	path = pothos-widgets
	url = https://github.com/pothosware/pothos-widgets.git
