[submodule "spuce"]
	path = spuce
	url = https://github.com/audiofilter/spuce.git
	branch = master
[submodule "muparserx"]
	path = muparserx
	url = https://github.com/beltoforion/muparserx.git
	branch = master
[submodule "poco"]
	path = poco
	url = https://github.com/pocoproject/poco.git
	branch = poco-1.7.8
[submodule "plotters"]
	path = plotters
	url = https://github.com/pothosware/PothosPlotters.git
	branch = master
[submodule "widgets"]
	path = widgets
	url = https://github.com/pothosware/PothosWidgets.git
	branch = master
[submodule "flow"]
	path = flow
	url = https://github.com/pothosware/PothosFlow.git
	branch = master
[submodule "soapy"]
	path = soapy
	url = https://github.com/pothosware/PothosSoapy.git
	branch = master
[submodule "blocks"]
	path = blocks
	url = https://github.com/pothosware/PothosBlocks.git
	branch = master
[submodule "python"]
	path = python
	url = https://github.com/pothosware/PothosPython.git
	branch = master
[submodule "audio"]
	path = audio
	url = https://github.com/pothosware/PothosAudio.git
	branch = master
[submodule "comms"]
	path = comms
	url = https://github.com/pothosware/PothosComms.git
	branch = master
[submodule "libsimdpp"]
	path = libsimdpp
	url = https://github.com/p12tic/libsimdpp
