Source: pothos
Section: science
Priority: optional
Maintainer: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake (>= 2.8.9),
    libpothos-serialization-dev,
    libpoco-dev (>= 1.6),
    libmuparserx-dev,
    libnuma-dev [amd64 i386]
Standards-Version: 3.9.6
Homepage: https://github.com/pothosware/pothos/wiki
Vcs-Git: https://github.com/pothosware/pothos.git
Vcs-Browser: https://github.com/pothosware/pothos

Package: pothos
Section: science
Architecture: any
Depends: libpothos0.4-3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: runtime application
 The Pothos data-flow software suite.

Package: libpothos0.4-3
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: multiarch-support, ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: pothos-util
Conflicts: pothos-util
Replaces: pothos-util
Description: shared library
 The Pothos data-flow software suite.

Package: libpothos-dev
Section: libdevel
Architecture: any
Depends: libpothos0.4-3 (= ${binary:Version}), ${misc:Depends}, pothos
Description: development files
 The Pothos data-flow software suite.

Package: pothos-all
Section: libs
Architecture: all
Depends:
    pothos,
    pothos-gui,
    pothos-modules-audio,
    pothos-modules-blocks,
    pothos-modules-comms,
    pothos-modules-plotters,
    pothos-modules-widgets,
    pothos-modules-sdr,
    ${misc:Depends}
Description: Meta package for all official toolkits
 This is a metapackage for the most common Pothos toolkits.
