Source: pothos
Section: science
Priority: optional
Maintainer: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake (>= 2.8.9),
    libpoco-dev (>= 1.6),
    libmuparserx-dev,
    nlohmann-json-dev,
    libnuma-dev [amd64 i386]
Standards-Version: 3.9.8
Homepage: https://github.com/pothosware/PothosCore/wiki
Vcs-Git: https://github.com/pothosware/PothosCore.git
Vcs-Browser: https://github.com/pothosware/PothosCore

Package: pothos-util
Section: science
Architecture: any
Depends: libpothos0.6 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: runtime application
 The Pothos data-flow software suite.

Package: libpothos0.6
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: shared library
 The Pothos data-flow software suite.

Package: libpothos-dev
Section: libdevel
Architecture: any
Depends: libpothos0.6 (= ${binary:Version}), ${misc:Depends}, pothos-util
Description: development files
 The Pothos data-flow software suite.

Package: pothos-all
Section: libs
Architecture: all
Depends:
    pothos-util,
    pothos-flow,
    pothos-modules-audio,
    pothos-modules-blocks,
    pothos-modules-comms,
    pothos-modules-plotters,
    pothos-modules-widgets,
    pothos-modules-soapy,
    ${misc:Depends}
Description: Meta package for all official toolkits
 This is a metapackage for the most common Pothos toolkits.
